.form{
    text-align: center;
}
.form select{
    width: 15%;
    padding: 10px 10px;
    margin: 20px 5px;
    border: 2px solid #348EED;
    outline: none;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    text-align: center;
}
.form input[type="number"]{
    width: 10%;
    padding: 5px 10px;
    margin: 20px 5px;
    border: 2px solid #348EED;
    outline: none;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    text-align: center;
}
.form input[type="text"]{
    width: 45%;
    padding: 5px 10px;
    margin: 20px 5px;
    border: 2px solid #348EED;
    outline: none;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    padding-left: 30px;
}
.form .btn{
    padding: 10px !important;
    width: 10% !important;
    margin: 0px 20px;
    font-size: 16px;
}

button[name="add"]{
    position: absolute !important;
    bottom: -70px !important;
    left: 10% !important;
    padding: 10px 50px !important;
    font-size: 14px;
}
button[name="remove"]{
    position: absolute !important;
    bottom: -70px !important;
    right: 10% !important;
    padding: 10px 50px !important;
    font-size: 14px;
}
.print-head{
    display: none;
}
@media print{
    button[name="add"]{
        display: none;
    }
    a button[name="remove"]{
        display: none;
    }
    .form{
        display: none;
    }
    li,h6{
        display: none;
    }
    td:nth-child(5), th:nth-child(5){
        display: none;
    }
    .print-head{
        display: block;
    }
    .header{
        display: flex;
    }
    .table thead{
        background: #348EED !important;
    }
    .sup_details{
        display: flex;
        justify-content: center;
        margin: 30px 10px;
    }
    .sup_details table{
        border: 1px solid lightgray;
        width: 100%;
}
    .sup_details table tr td{
        padding: 10px 30px;
    }
    .sup_details table tr:not(:first-child) {
        
    }
    .sup_details table tr td:nth-child(2){
        text-align: left;
    }
}