.search{
    text-align: center;
    justify-content: space-between;
    padding: 2% 0%;
}
.right{
    position: relative;
    width: 100%;
    margin: auto;
}
.report-category .btn{
    margin: 0px 5px !important;
    margin-top: 5px !important;
    padding: 10px 30px !important;
}
input[type="text"]{
    padding: 10px 20px;
    letter-spacing: 1.5px;
    border-radius: 10px;
    border: 2px solid #3089ED;
    margin: 0px 10px;
    background: transparent;
    width: 100%;
}
input[type="date"]{
    padding: 10px 20px;
    letter-spacing: 1.5px;
    border-radius: 10px;
    border: 2px solid #3089ED;
    margin: 0px 10px;
    background: transparent;
    width: 100%;
}
.right input[type="submit"]{
    position: absolute;
    top: 4px;
    right: -5px;
    padding: 8px 25px;
    color: white;
    border: none;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px
}
.date-range{
    width: 100%;
}
.date-range form{
    display: flex;
    justify-content: center;
    align-items: center;
}
.date-range input{
    width: 100%;
}
.date-range button{
    background: transparent !important;
    border: 1px solid #2B84EC !important;
    width: 30%;
}
.date-range button i{
    margin-left: -30px;
    margin-top: 3px;
}
.date-range button:hover i{
    margin-left: 15px;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    color: white !important;
}
.date-range button:hover{
    background: #2B84EC !important;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}
